/* main.css for Wiki Viewer */
body {
	font-family: 'Lato', sans-serif;
	font-size: 100%;
	max-height: 100%;
	color: #000;
}
h1 {
	font-size: 6.5em;
	padding-bottom: 1%;
	color: white;
	text-shadow: .05em .05em  .025em #000;
}

h2 {
	color: white;
}

h3{
	text-decoration: none;
	color: white;
}

h3:hover{
	color: #9C27B0;
}
a:hover{
	text-decoration: none;
}

hr {
	box-shadow: .1em .1em .05em #000;
}
.container {
	width: 100%;
	margin: 30vh auto 0vh;
	text-align: center;
}
.well {
	background-color: rgba(200,200,200,0.4);
}

#input {
	height: 2.899em;
	margin-bottom: 1.3px;
	box-shadow: .1em .1em .05em #000;
}

button {
	height: 3em;
	box-shadow: .1em .1em .05em #000;
}

#clickSearch {
	outline:none;
}
#clickRandArt {
	text-decoration: none;
	color: #000;
	outline: none;
}

.entry p {
	font-size: 1.5em;
}
footer {
	font-size: 1.3em;
	min-height: 5vh;
	padding: 1.5em;
	width: 100%;
	height: 5em;
  	right: 0;
  	bottom: 0;
  	left: 0;
	color: #fff;
	text-align: center;
	text-shadow: .05em .05em  .025em #000;
}

#linkedinIcon {
	padding-left: 0.25em;
	color: #fff;
}

#githubIcon{
	padding-left: 0.25em;
	color: #fff;
}

/* TYPED.JS ANIMATION CURSOR STYLING-OPTIONS*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1.0s infinite;
    -moz-animation: blink 1.0s infinite;
    animation: blink 1.0s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}